.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 20%;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  font-size: 14px;
  float: left;
  background-color: rgb(172, 143, 219)
};
