.App {
  display: grid;
  grid-template-areas:
    "header header header"
    "pro posts conn"
    "acc posts conn"
    "footer footer footer";
  grid-template-rows: 10% 3fr 2fr 10%;
  grid-template-columns: 20% 1fr 25%;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  height: 95vh;
  margin: 0;
}
.post{
  background-color: azure;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.posts {
  /* background-color: lightblue; */
  width: 100%;
  height: 100%;
  padding: 0%;
  margin: 0%;
  overflow: scroll;
}
.head{
  /* margin: 0%;
  padding: 0%; */
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  justify-content: left;
  display: flex;
}
#btn{
  height: auto;
}
.centre{
  text-align: center;
}

.left{
  text-align: left;
  padding: 0%;
  margin-left: 30px;
}

header,
footer,
posts,
pro,
acc,
div {
  padding: 0.5em;
}


#pageHeader,
#pageFooter,
#mainPosts,
#mainPro,
#mainAcc,
#mainConn {
  background:rgb(185, 182, 182);
}

#pageHeader {
  grid-area: header;
}
#pageFooter {
  grid-area: footer;
}
#mainPosts {
  grid-area: posts;
}
#mainPro {
  grid-area: pro;
}
#mainAcc {
  grid-area: acc;
}

#mainConn {
  grid-area: conn;
}

