form {
  width: 40%;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 5px solid black;
}

.inputbox {
  height: 44px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #dbe2e8;
  font-size: 14px;
  border-radius: 2px;
  color: #636363;
  box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05);
  outline: none;
  width: 80%;
  margin: 10px;
}
.logout {
  background: #0f0a0a;
  border: none;
  /* text-align: center; */
  font-size: 17px;
  margin: 0% 0% auto auto ;
  padding: 10px 20px;
  border-radius: 20px;
  float: right;
  cursor: pointer;
  /* margin-right: auto; */
  /* outline: none; */
  color: #fff; 
}

.submit {
  background: #02b3e4;
  border: none;
  /* text-align: center; */
  font-size: 17px;
  margin: 10px;
  padding: 10px 25px;
  border-radius: 20px;
  cursor: pointer;
  /* margin-right: auto; */
  /* outline: none; */
  color: #fff; 
}
